#!/bin/sh
#
# $FreeBSD$
#

# PROVIDE: svelte
# REQUIRE: netif
# KEYWORD: shutdown

. /etc/rc.subr

name="pm2"
desc="PM2 deployment daemon"
rcvar="pm2_enable"

: ${pm2_project_root:="{{ pm2_deploy_path }}"}
: ${pm2_user:="provision"}
: ${pm2_host:="::"}

pidfile="/var/run/${name}.pid"
start_precmd=${name}_prestart
start_cmd=${name}_start
procname="node"

pm2_prestart()
{
  export HOME=/tmp
  export HOST="{pm2_host}"
  export PATH=${PATH}:/usr/local/sbin:/usr/local/bin
}

pm2_start()
{
  echo -n "Starting ${name} ... "
  cd "${pm2_project_root}"
  /usr/sbin/daemon -u "${pm2_user}" -p "${pidfile}" -S /usr/local/bin/yarn run start
  status=$?
  if [ "${status}" = "0" ]; then
    echo "done"
  else
    echo "failed!"
  fi
}

load_rc_config $name
run_rc_command "$1"
